*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Comic Neue", cursive;
    color: #812440;
    font-size: 20px;
    margin: 0px 100px 0px 100px;
    line-height: 1.6;
    background-color: #fff5ed;
    
}
h1, h2, h3, h4, h5, h6 {
    color :#521024;


}
.navigation ul{
    display: flex;
    flex-direction:row;
    justify-content: right;
    list-style-type: none;
    padding: 20px 20px 20px 20px;
}
.navigation li{
    font-size: 20px;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 15px;
    
}
.navigation a{
    color: #521024;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 0.3s ease, transform 0.3s ease;    
}
.navigation a:hover{
    color: #ca5f7f;
    font-size: 25px;
    
}
.intro{
    padding: 220px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.intro h1{
    font-size:55px;
}
#socials ul{
    list-style-type: none;    
     display: flex ;
     justify-content: left;
     gap: 10px;
     padding: 0px ;
}
#socials img{
    height: 35px;
    width: 35px;
    transition: height,width 0.3s ease, transform 0.3s ease; 
}
#socials img:hover{
    height: 40px;
    width: 40px;

    
}
.heading {
    display: flex;
    justify-content: center;
    
    padding: 50px 50px;
}
#skills{
    /* margin: 20px 20px 20px 20px; */
    padding: 50px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px ;    
}
#projects{
    /* margin: 20px 20px 20px 20px; */
    padding: 50px 0px 0px 0px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 20px 20px ;}
#experience{
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 80px   ;

}
.company-experience{
    display: flex;
    /* gap: 80px; */
    margin: 0px;
    border-radius: 5px;
    box-shadow: 5px 4px 20px rgba(71, 9, 9, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.description{
    padding: 40px 100px 40px 90px;
    border-radius: 5px;  
    box-shadow: 5px 4px 20px rgba(71, 9, 9, 0.2);
}
.company-title{
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px 50px;
}

.skill-type{
    padding: 60px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 5px;  
    box-shadow: 5px 4px 20px rgba(71, 9, 9, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;            
}
.skill-type img{
    height: 80px;
    width: 80px;

}
 .skill-type:hover, .project-card:hover,.company-experience:hover,#education:hover,#publication:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 18px #ffcad4;
 }
#education,#publication{
/* border: 1PX solid black; */
padding: 50PX;
border-radius: 15px;
box-shadow: 5px 4px 20px rgba(71, 9, 9, 0.2);
transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.project-card{
    padding: 60PX;
    border-radius: 5px;  
    box-shadow: 5px 4px 20px rgba(71, 9, 9, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.project-card h3{
 
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff5ed;
    box-shadow: 5px 4px 20px rgba(71, 9, 9, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}


form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
}


form input[type="email"],
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    background-color: #fff5ed;

}
form:hover{
    transform: scale(1.05);
}

form textarea {
    resize: vertical; 
    min-height: 100px;
}

form button[type="submit"] {
    padding: 12px;
    background-color:#812440;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center;
}


form button[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
